@import '../../assets/css/variable.scss';
.form-wrapper {
    max-width: 500px;
    margin: 0 auto;
}

.match-list-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    min-height: 300px;
    & > a {
        text-decoration: none;
        &:hover {
            .match {
                box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
                    0 15px 12px rgba(0, 0, 0, 0.22);
            }
        }
    }
    .versus-header {
        .head-warpper {
            padding: 15px 0;
            & > div:not(.compare) {
                display: flex;
                margin-bottom: 15px;
                justify-content: space-between;
                align-items: center;
                .player-dropdown {
                    width: 48%;
                }
            }
            .compare {
                text-align: center;
                button {
                    padding: 10px 20px;
                }
                .info i {
                    font-size: 0.8rem;
                }
            }
        }
    }
    .versus-body {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        .batting,
        .bowling,
        .team {
            width: 49%;
        }
    }
    .hhead {
        font-size: 24px;
        a {
            &:hover {
                text-decoration: none;
            }
        }
        span {
            padding: 0 10px;
        }
    }
}
.dropdown-wrapper {
    max-width: 300px;
    margin: 2rem auto;
    box-sizing: border-box;
    .drop-info {
        font-size: 0.9rem;
        font-style: italic;
    }
}
