.form-wrapper {
    max-width: 500px;
    margin: 0 auto;
    .search-form {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
        .form-group {
            margin: 0;
            width: 90%;
            input {
                border-radius: 0.25rem 0 0 0.25rem;
            }
        }
        .btn {
            margin-left: -1px;
            border-radius: 0 0.25rem 0.25rem 0;
        }
    }
}
.body {
    max-width: 960px;
    margin: 20px auto;
    .players a,
    .teams a {
        color: #444;
    }
}

.tuples {
    max-width: 960px;
    margin: 20px auto;
    margin-top: 90px;
    text-align: center;
    position: relative;
    min-height: 100px;
    .tuple-record {
        margin-top: 20px;
    }
}
