@import '../../assets/css/variable.scss';
.form-wrapper {
    max-width: 500px;
    margin: 0 auto;
}

.stats-wrapper {
    margin: 0 auto;
    .main-content {
        max-width: 1256px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
    }
    .stats-filter {
        min-width: 200px;
        min-height: 300px;
        position: relative;
        .filters {
            border: 1px solid #d83b3b;
        }
        h5 {
            padding: 5px 10px;
            background-color: #d83b3b;
            color: white;
            margin: 0;
        }
        ul {
            padding: 0;
            list-style: none;
            margin: 0;
            min-height: 100px;
            li {
                border-bottom: 1px solid #e2e1e1;
                .filter-anchor {
                    padding: 10px;
                    display: block;
                    text-decoration: none;
                    width: 100%;
                    text-align: left;
                    &:hover {
                        color: #ff6161;
                    }
                    &.active {
                        color: $color-seondary-text;
                    }
                }
            }
        }
    }
    .stats-main {
        width: 100%;
        margin: 0 20px;
        position: relative;
        .table {
            .active {
                background-color: #ebf99454;
            }
        }
    }
}
.dropdown-wrapper {
    max-width: 300px;
    margin: 2rem auto;
    box-sizing: border-box;
    .drop-info {
        font-size: 0.9rem;
        font-style: italic;
    }
}
