/*.header {
  background: #f34436;
  text-align: center;
  color: #fff;
  font-size: 25px;
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #1f1f1f;
}*/

@import '../../assets/css/variable.scss';
.nav-head {
  background: transparent;
  border-bottom: 1px solid #b9b3b3;
  justify-content: center;
  .brand {
    font-size: 30px;
    color: #444;
    span {
      color: $color-seondary-text;
    }
  }
}
.menu-nav {
  justify-content: center;
  .nav-link {
    color: #536b69;
  }
}
