@import '../../assets/css/variable.scss';
.form-wrapper {
    max-width: 500px;
    margin: 0 auto;
}

.match-list-wrapper {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    min-height: 300px;
    & > a {
        text-decoration: none;
        &:hover {
            .match {
                box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
                    0 15px 12px rgba(0, 0, 0, 0.22);
            }
        }
    }
    .match {
        padding: 0.8rem 1rem;
        margin-bottom: 20px;
        color: $color-text;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        border-radius: 2px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        & > .loser {
            background: url('../../assets/images/lost.png') no-repeat;
            background-size: 251px 157px;
        }
    }
    .match-team-1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-basis: 33%;
        &.loser {
            background-position: 48% 71%;
        }
    }
    .match-team-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-basis: 33%;
        &.loser {
            background-position: 48% 71%;
        }
    }
    .team-sprite {
        margin: 0.1rem 0.5rem;
    }
    .vs-details {
        flex-basis: 33%;
        text-align: center;
        font-size: 14px;

        .vs {
            background: url('../../assets/images/versus.png') no-repeat;
            background-size: 60px 70px;
            background-position: 50%;
            width: 60px;
            height: 70px;
            margin: 0 auto;
        }
    }
}
.dropdown-wrapper {
    max-width: 300px;
    margin: 2rem auto;
    box-sizing: border-box;
    .drop-info {
        font-size: 0.9rem;
        font-style: italic;
    }
}
